video{
  width: 100%;
  min-width: 100%;
  max-height: 100vh;
  min-height: 100vh;
  z-index: 100;
  position: absolute;
}

img{
  position: absolute;
  z-index: 9999;
  max-width: 100%;
  max-height: 100vh;
}